<h2>{{titulo}}</h2>
<p *ngIf="escolhaAte > 1">Escolha até {{escolhaAte}} sabores ({{selectedTotal}} escolhidos)</p>
<div *ngIf="escolhaAte === 1; else elseBlock">

<div *ngFor="let opcao of opcoes; index as i">
    <label><input type="radio" name="{{titulo | lowercase}}" id="{{opcao}} " value="{{opcao}}">{{opcao}}</label>
</div>
</div>

<ng-template #elseBlock>
    <div class="acrescimo" *ngFor="let opcao of opcoes; index as i">
    <label>
        <input type="checkbox" name="{{titulo | lowercase}}" id="{{i}}" #checkbox value={{opcao}} 
        (change)="selectedTotalChange($event)" 
        [disabled]="selectedTotal >= escolhaAte ?  checkbox.checked ? false : true : false"
        >
        {{opcao}}</label> 
</div></ng-template>


